*{
    color:white;
    font-family: Bahnschrift,serif;
}
h1{
    color:cornflowerblue;
    text-align: center;
}
body{
    background-color:black;
}
.heading_small{
    font-size: 20px;
    color: white;
}
.heading_big{
    font-size: 2em;
    color: cornflowerblue;
}

.introduction{
    text-align: center;
}

.body{
    text-align: center;
}

input{
    color:black;

}
.submit{
    margin-top: 34px;
    background: transparent;
    padding: 10px;
}

#reason{
    width: 450px;
}